.selectize-control .selectize-input{
    border-radius: 7px!important;
}
.selectize-control .selectize-input:focus {
    color: #36393b;
    background-color: #fff;
    border-color: #ef402f;
    outline: 0;
    box-shadow: none;
}

.selectize-control:not(:last-child) .selectize-input{
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}
.selectize-control:last-child .selectize-input{
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

/*Доп.усулги*/
.complementary-services a{
    color: #5a666e;
}
/*КОНЕЦ --- Доп.усулги*/

.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before{
    background-color: transparent;
}

/*Калькулятор*/
.calc__inpgrp {
     max-width: 100% !important;
}
.add_anotherplace{
    margin: 10px 0 10px 20px;
}
.dimensions-label{
    border: none;
}
/* КОНЕЦ --- Калькулятор*/

.link-with-dotted {
    color: #ef402f;
}
.link-with-dotted:hover {
    text-decoration: none;
    cursor: pointer;
}

#news-page__filter-block .dropdown-toggle::after{
    content: unset;
}
#news-page__filter-block .inner{
    width: unset;
}
#news-page__filter-block .dropdown-menu{
    top: 0!important;
    min-width: 100%!important;
}

/*Кладр*/
#kladr_autocomplete .autocomplete {
    width: auto!important;
}
/*Конец Кладр*/

.grecaptcha-badge {
    visibility: hidden;
}

.white-space-normal {
    white-space: normal;
}

/*.prices-page-wrapper .point-select,*/
.prices-page-wrapper .sbmt-btn {
    height: 38px !important;
    margin-bottom: 6px;
}

.event-feed__info span a{
    color:#ffffff;
}
.event-feed__item:hover .event-feed__info span a{
    color: #ef402f;
}
.package-wrapper #add-package-btn{
    display: none;
}
.package-wrapper:last-child #add-package-btn{
    display: inline-block;
}
.package-wrapper:last-child #delete-package-btn{
    display: none;
}
.package-wrapper .calc__label .content{
    display: none;
}
.package-wrapper:first-child .calc__label .content{
    display: inline;
}

.package-params{
    background:transparent;
}
.package-params.oversized{
    background:rgba(255, 177, 177, 0.25);
}

select.form-control:not([size]):not([multiple]) {
    color:#36393b!important;
}